.todo-post-number {
    position: absolute;
    left: -22px;
    top: 20px;
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.todo-post-button {
    width: 180px;
    display: flex;
    justify-content: space-between;
}
