@import "./../../style/Colors.scss";

.custom-button {
    background: $electricViolet;
    border-radius: 6px;
    color: white;
    width: 98px;
    height: 42px;
    font-size: 16px;
    border: none;
    box-shadow: -3px 7px 12px -6px rgba(0, 0, 0, 0.479);
    cursor: pointer;

    &:hover {
        background: $electricIndigo;
        box-shadow: -3px 7px 12px -2px rgba(0, 0, 0, 0.479);
    }
}

.cancel-button {
    border: 2px solid $electricViolet;
    color: $electricViolet;
    background-color: white;

    &:hover {
        background-color: white;
        border-color: $electricIndigo;
        box-shadow: -3px 7px 12px -2px rgba(0, 0, 0, 0.479);
    }
}
