@import "./../../style/Colors.scss";

$radius: 10px;
$bgcolor: white;

.custom-field {
    position: relative;
    &-input {
        width: 340px;
        height: 45px;
        border: 2px solid $electricViolet;
        border-radius: $radius;
        outline: none;
        padding: 0 18px;
        background: none;
        font-size: 1.2rem;

        &:hover {
            border-color: $azureRadiance;
        }
        &:focus {
            border-color: $lochmara;
        }
    }
    &-lable {
        position: absolute;
        left: 13px;
        top: 14px;
        padding: 0 0.5rem;
        color: $electricViolet;
        cursor: text;
        transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    }
}

.custom-field-input:focus ~ .custom-field-lable,
.custom-field-input:not(:placeholder-shown).custom-field-input:not(:focus) ~ .custom-field-lable {
    top: -0.5rem;
    font-size: 0.9rem;
    left: 0.8rem;
    background-color: $bgcolor;
}

.error-input {
    border-color: red;
}
