@import "./../../style/Colors.scss";

$size: 42px;
$crossSize: 35px;

.close-button {
    height: $size;
    width: $size;
    border: 3px solid $thunderbird;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    &-cross {
        width: $crossSize;
        height: $crossSize;
    }

    &:hover {
        border-color: $cinnabar;
        box-shadow: -3px 7px 12px -2px rgba(0, 0, 0, 0.35);
    }

    &:focus {
        background-color: $sangria;
    }
}
